{% set checks = {
'ceilometer-agent-central': {'path': 'openstack/'},
'ceilometer-alarm-notifier': {'path': 'openstack/'},
'ceilometer-alarm-evaluator': {'path': 'openstack/'},
'ceilometer-collector': {'path': 'openstack/'},
'ceilometer-api': {'path': 'openstack/'},
'ceilometer-agent-compute': {'path': 'openstack/'},
'nova-conductor': {'path': 'openstack/'},
'nova-api': {'path': 'openstack/'},
'rabbitMQ':{'path': 'openstack/'},
'all_diskstat':{'path': 'openstack/'},
'mongo':{'path': 'openstack/'},
'swap':{},
'disk':{},
} %}
